<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="/css/app.css" />

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">

	<title>Netdio</title>

	<style type="text/css">
		.range-slider::-webkit-slider-thumb {
      		width: 1.5rem;
      		-webkit-appearance: none;
      		height: 2.5rem;
      		cursor: pointer;
      		border-style: solid;
      		border-width: 2px;
      		border-color: #404040;
      		border-radius: 25%;
      		background: <%= config.device.colordark%>;
      		box-shadow: -1800px 0 0 1790px <%= config.device.colordark%>;
            }

            html {

              overflow:   scroll;
              overflow-x: hidden;
              overscroll-behavior-x: none;
            }

            ::-webkit-scrollbar {
                  width: 1px;
                  background: transparent; /* make scrollbar transparent */
            }

            body {
                  font-family: 'Josefin Sans', sans-serif;
                  font-size: 20px;
                  overscroll-behavior-x: none;
            }
            
            .blue {
                  background: <%= config.device.color%>;
            }
            .blue-fill {
                  color: <%= config.device.color%>;
            }
            .eq-slider {
                 -webkit-appearance: slider-vertical
            }

	</style>

</head>

	<script src="/jquery/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>

<body>

	<%- body %>

</body>

</html>